<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="F68B8D3F-7226-442B-A6A9-506E339FFC28" Name="AdminScripts Set 01" Language="1033" Version="1.0.1.0" Manufacturer="New Internet Technologies Inc." UpgradeCode="AD382223-AB4D-4AF3-B6D4-79B6F272E1D6">
        <Package Description="Scripts For Administrators Set 01" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="scripts.cab" EmbedCab="yes" />
        <WixVariable Id="WixUILicenseRtf" Value="..\license.rtf" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="ADMINSCRIPTS.SET01" Name="AdminScripts.Set01">

                    <Component Id="INSTALL_SCRIPTS.BAT" DiskId="1" Guid="0694A91D-E47D-4901-A8BB-B45BE5601FE7">
                        <File Id="INSTALL_SCRIPTS.BAT" Name="install-scripts.bat" Source="install-scripts.bat" />
                    </Component>
                    <Component Id="INSTALL_SCRIPTSX32.BAT" DiskId="1" Guid="6238AE9F-4695-4251-B784-19021F7299A6">
                        <File Id="INSTALL_SCRIPTSX32.BAT" Name="install-scriptsx32.bat" Source="install-scriptsx32.bat" />
                    </Component>
                    <Component Id="REMOVEADMINSCRIPTSSET01.VBS" DiskId="1" Guid="4BD33E09-03EA-40EC-92A6-D3F88D20A172">
                        <File Id="REMOVEADMINSCRIPTSSET01.VBS" Name="RemoveAdminScriptsSet01.vbs" Source="RemoveAdminScriptsSet01.vbs" />
                    </Component>
                    <Component Id="SCRIPTS.SFX.EXE" DiskId="1" Guid="3E983ED6-6DE3-4B12-A9B9-9E68423812A1">
                        <File Id="SCRIPTS.SFX.EXE" Name="Scripts.SFX.exe" Source="Scripts.SFX.exe" />
                    </Component>
                    <Component Id="UNPACKADMINSCRIPTSSET01.VBS" DiskId="1" Guid="C5EA652E-B100-45D7-9285-188059561C3B">
                        <File Id="UNPACKADMINSCRIPTSSET01.VBS" Name="UnpackAdminScriptsSet01.vbs" Source="UnpackAdminScriptsSet01.vbs" />
                    </Component>
                    <Component Id="UNPACKADMINSCRIPTSSET01X32.VBS" DiskId="1" Guid="C1D50FE1-02AF-429F-AD84-14CD6D7493C6">
                        <File Id="UNPACKADMINSCRIPTSSET01X32.VBS" Name="UnpackAdminScriptsSet01x32.vbs" Source="UnpackAdminScriptsSet01x32.vbs" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="INSTALL_SCRIPTS.BAT" />
            <ComponentRef Id="SCRIPTS.SFX.EXE" />
            <ComponentRef Id="REMOVEADMINSCRIPTSSET01.VBS" />
            <ComponentRef Id="UNPACKADMINSCRIPTSSET01.VBS" />
            <ComponentRef Id="INSTALL_SCRIPTSX32.BAT" />
            <ComponentRef Id="UNPACKADMINSCRIPTSSET01X32.VBS" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <InstallExecuteSequence>
            <Custom Action="RemoveAdminScriptsSet01" Before="RemoveFiles" />
            <Custom Action="UnpackAdminScriptsSet01x32" Before="InstallFinalize" />
        </InstallExecuteSequence>
        <Binary Id="RemoveAdminScriptsSet01Id" SourceFile="RemoveAdminScriptsSet01.vbs" />
        <Binary Id="UnpackAdminScriptsSet01x32.id" SourceFile="UnpackAdminScriptsSet01x32.vbs" />
        <CustomAction Id="RemoveAdminScriptsSet01" BinaryKey="RemoveAdminScriptsSet01Id" VBScriptCall="" Return="check" Impersonate="no" Execute="deferred" HideTarget="no" />
        <CustomAction Id="UnpackAdminScriptsSet01x32" BinaryKey="UnpackAdminScriptsSet01x32.id" Execute="deferred" HideTarget="no" Impersonate="no" Return="check" VBScriptCall="" />
    </Product>
</Wix>